#pragma once

#define AP_SSID "chaircheck-cam"
#define AP_PASS "change-me-8+chars"

#define WIFI_SSID "your-network-name"
#define WIFI_PASS "your-network-password"

#define EAP_SSID "eduroam"
#define EAP_IDENTITY "you@your-domain.edu"
#define EAP_USERNAME "you@your-domain.edu"
#define EAP_PASSWORD "your-eduroam-password"
